@model GoldenWayDuties.ViewModels.TaskitemFormViewModel
@{
    ViewBag.Title = Model.Taskitem.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Taskitem</h2>

@using (Html.BeginForm("Edit", "Taskitem"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Taskitem.Name)
        @Html.TextBoxFor(m => m.Taskitem.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Taskitem.StartDate)
        @Html.TextBoxFor(m => m.Taskitem.StartDate, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Taskitem.GenreId)
        @Html.DropDownListFor(m => m.Taskitem.GenreId, new SelectList(Model.Genre, "Id", "Name"), new { @class = "form-control" })
    </div>
}