@model GoldenWayDuties.ViewModels.TaskitemFormViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using(Html.BeginForm("Save","Taskitems"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Taskitem.Name)
        @Html.TextBoxFor(m => m.Taskitem.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Taskitem.StartDate)
        @Html.TextBoxFor(m => m.Taskitem.StartDate, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Taskitem.GenreId)
        @Html.DropDownListFor(m => m.Taskitem.GenreId,new SelectList(Model.Genres,"Id","Name"), new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.Taskitem.Id)
    <button type="submit" class="btn btn-group">Save</button>
}
