@model GoldenWayDuties.ViewModels.OwnerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Owner</h2>

@using (Html.BeginForm("Save", "Owners"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Owner.Name)
        @Html.TextBoxFor(m => m.Owner.Name, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Owner.DateOfBirth)
        @Html.TextBoxFor(m => m.Owner.DateOfBirth,"{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Owner.ResidentTypeId)
        @Html.DropDownListFor(m => m.Owner.ResidentTypeId, new SelectList(Model.ResidentTypes,"Id","Name"), "Select Resident Type", new { @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Owner.IsHouseResident) Is House Resident?
        </label>
    </div>
    @Html.HiddenFor(m => m.Owner.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}
